// CONTACTANOS
.contactanos {
    @extend %layout-center;
    @extend %sec-p;
    &-wrapper {
        position: relative;
        z-index: 1;
        @extend %container;
        display: flex;
        align-items: center;
        flex-flow: wrap column;
    }
    &-title {
        @extend %title-2;
        color: $primary-1;
        @include desktop($bp-sm){
            font-size: 2em;
        }
    }
    &-text {
        @extend %text-2;
        padding-bottom: 50px;
    }
    &-form {
        width: 70%;
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(3,1fr);
        @include desktop($bp-xs){
            width: 100%;
            display: flex;
            flex-flow: wrap column;
        }
        &-group {
            &:nth-of-type(4){
                grid-column: span 4;
            }
            width: 100%;
            margin-bottom: 24px;
            position: relative;
            & label {
                color: $gray;
                position: absolute;
                top:0;
                left:0;
                padding: 10px 0;
                font-size: 18px;
                transition: .4s;
                cursor: text;
                pointer-events: none;
            }     
            & input {
                background: transparent;
                outline: none;
                border: none;
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 100%;
                color: $dark;
                font-size: 16px;
                border-bottom: 1.2px solid $divider;
                &:focus ~ label, &:valid ~ label {
                    top: -24px;
                    font-size: 14px;
                    color: $primary-1;
                }
                &:focus, &:valid {
                    border-bottom: 1.2px solid $primary-1;
                }
            }
            & input[type=number]::-webkit-inner-spin-button, 
            & input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none; 
            }
            &:nth-child(4){
                @include mobile($bp-xs){
                    padding-right: 25px;
                }
            }
        }
        &-submit {
            text-align: center;
            grid-column-start: 2;
            & button {
                @extend %btn-effect;
            }
        }
    }
    &-image {
        position: absolute;
        bottom: 0;
        right: 0;
        &-nixe {
            width:200px;
            height: 200px;

            filter:grayscale(100%);
            opacity: .25;
            background-image: url(../img/contactanos/cartero.png);
            @include mobile($bp-md){
                opacity: .5;
            }
            @include mobile($bp-md-2){
                filter:grayscale(20%);
                opacity: 1;
            }
        }
        &-message {
            &-1 {
                @extend %contactanos-image-message;
                bottom: 0;
                right: 10px;
                filter:grayscale(100%);
                opacity: .25;
                animation: contactanos-message 2s ease infinite;
                @include mobile($bp-md){
                    opacity: .5;
                }
                @include mobile($bp-md-2){
                    filter:grayscale(20%);
                    opacity: 1;
                }
            }
        }
    }
}

@keyframes contactanos-message {
 0%{
    transform: rotate(-10deg);
}
50%{
    transform: rotate(10deg);
}
100%{
    transform: rotate(-10deg);
}
}