// FOOTER
.footer {
    position: relative;
    width: 100%;
    height:500px;
    &-copywrite {
        position: absolute;
        bottom: 2%;
        width: 100%;
        font-size: 16px;
        text-align: center;
        &-developers {
            color: $link-primary;
            font-weight: 600;
        }
    }

    .footer-social {
     position: relative;
     top: 200px;
     width: 100%;
     height: 50%;
     &-logo-yt{
        position: absolute;
        top: 20px;
        left: 40%; 
        width: 100px;
        @include desktop($bp-xs-4){
            top: -10%;
            left: 40%; 
        }
    }
    &-logo-ins {
        position: absolute;
        top:25%;
        left: 60%; 
        width: 150px;
        @include desktop($bp-xs-4){
            width: 120px;
            top: 20% 
        }
        @include desktop($bp-xs-2){
            top: 25%;
        }
    }
    &-logo-fb {
        position: absolute;
        top: 10%;
        left: 15%; 

        width: 200px;
        @include desktop($bp-xs-4){
            top: 25%;
            width: 150px;
            left: 5%; 
        }
        @include desktop($bp-xs-2){
            top: 35%;
            left: 6%;
        }
        @include desktop($bp-sm-1){
            top: 25%;
            left: 6%;
        }
        @include desktop($bp-sm){
            top: 20%;
            left: 6%;
        }
    }
}

}
.wave-nixe {
    position: absolute;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: 12% bottom;
    background-image: url("../img/footer/footer.svg");
    background-size: cover;
    background-repeat: repeat-x;
    @include desktop($bp-sm-1){
        background-position: 30% bottom;
    }
    @include mobile(1400px) {
        background-size: initial;
        background-position: 25% bottom;
    }
    .nixe-footer {
        position: relative;
        top: 68%;
        left: 84%;
        background-image: url("../img/footer/Nixe-c.png");
        width: 120px;
        height: 120px;
        background-repeat: no-repeat;
        @include desktop($bp-sm){
            display: none;
        }
    }
}
