// HEADER

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 60px;
	transition: .5s;
	&-active {
		background-image: $bg-secondary;
		box-shadow: 0 6px 28px 0 rgba(24, 52, 117, .2);
	}
	&-wrapper {
		@extend %container;
		height: 100%;
	}
	&-responsive {
		display: none;
		@include desktop($bp-md){
			display: flex;
			align-items: center;
			height: 100%;
		}
	}
}

.brand {
	display: none;
	@include desktop($bp-md){
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		&-img {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50px;
			height: 50px;
			transform: translate(-50%, -50%);
			background-image: url('../img/sprites/pixeland.png');
			background-size: cover;
			animation: pixeland-logo 1.2s steps(8) infinite;
			overflow: hidden;
		}
	}
}

.nav-toggle {
	display: none;
	@include desktop($bp-md){
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: transparent;
		transform: translateX(-6px);
		&-icon {
			color: $light;
			font-size: 24px;
		}
	}
}

@keyframes pixeland-logo {
	from { background-position:    0px; }
	to { background-position: -4000px; }
}