// PLANES
.planes {
    @extend %sec-p;
    &-wrapper {
        @extend %container;
    }
    &-title {
        @extend %title-2;
        color: $primary-1;
    }
    &-text {
        @extend %text-2;
        padding-bottom: 0;
    }
    &-content {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        @include range($bp-sm,$bp-md){
            grid-template-columns: repeat(4,1fr);
            grid-template-areas: "emprendedor emprendedor profesional profesional"
            ". experto experto .";
            grid-auto-columns: 1fr;
        }
        @include mobile($bp-md){
            grid-template-columns: repeat(3,1fr) ;
        }
    }
}
.plan-content {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    box-shadow: $box-shadow-1;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 24px;
    margin-top: 50px;
    &:nth-of-type(1){
        @include  range($bp-sm,$bp-md){
            grid-area: emprendedor;
        }
    }
    &:nth-of-type(2){
        @include  range($bp-sm,$bp-md){
            grid-area: profesional;
        }
    }
    &:nth-of-type(3){
        @include  range($bp-sm,$bp-md){
            grid-area: experto;
        }
    }
    &-title {
        padding: 60px 40px;
        color: $light;
        background-color: $dark;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        & h3 {
            padding-bottom: 8px;
            font-family: $font-primary;
            font-size: 30px;
            font-weight: 700;
        }
        & h4 {
            font-size: 20px;
        }
        & .badge {
            @extend %badge;
            background-color: $green;
            border-radius: 5px;
        }
    }
    &-features {
        & ul {
            padding: 15px 10px;
            & li {
                padding: 6px 0;
                cursor: pointer;
                transition: .5s;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                @extend %tap-highlight;
                &:hover {
                    border-left: 15px solid $primary-1;
                    border-right: 15px solid $primary-1;
                }
            }
        }
    }
    &-button {
        & a {
            @extend %btn-effect;
        }
    }
}