// PORTAFOLIO
.portafolio {
	@extend %sec-p;
	&-wrapper {
		position: relative;
		@extend %container;
	}
	&-title {
		@extend %title-2;
		color: $primary-2;
	}
	&-text {
		@extend %text-2;
		padding-bottom: 50px;
	}
	&-nixe {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50px;
		transform: translateY(20px);
		@include mobile($bp-xs-3){
			width: 60px;
		}
		@include mobile($bp-xs-4){
			width: 80px;
		}
		@include mobile($bp-xs){
			width: 100px;
			transform: translateY(50px);
		}
		@include mobile($bp-sm){
			width: 128px;
		}
	}
}

// Slider
.slider {
	position: relative;
	width: 50%;	
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
	&-mask {
		position: relative;
		z-index: 32;
		&-dark {
			position: absolute;
			z-index: -1;
			top: 0;
		}
	}
	&-img {
		position: absolute;
		z-index: 31;
		top: 0;
		display: none;
	}
	&-active {
		display: block;
		animation: fadePortafolio .8s;
	}
	&-arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 10%;
		&-previous {
			left: -20%;
			@include mobile($bp-xs){
				left: -25%;
			}
		}
		&-next {
			right: -20%;
			@include mobile($bp-xs){
				right: -25%;
			}
		}
		&-icon {
			display: block;
			color: $dark;
			font-size: 32px;
			transform: translateX(0px);
			transition: transform .3s ease;
		}
		&-previous:hover &-icon {
			transform: translateX(-10px) scale(1.2);
		}
		&-next:hover &-icon {
			transform: translateX(10px) scale(1.2);
		}
	}
}
@keyframes fadePortafolio {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}