// SERVICIOS
.services {
	background-image: $bg-secondary;
	position: relative;
	z-index: 50;
	padding-top: 250px;
	padding-bottom: 250px;
	color: $light;
	&-wrapper {
		@extend %container;
	}
	&-title {
		position: relative;
		@extend %title-2;
		margin-bottom: 10px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background-color: $light;
			transform: scaleX(0);
			transition: .5s;
		}
		&:hover:before {
			transform: scaleX(.4);
		}
	}
	&-text {
		@extend %text-2;
		padding-bottom: 0;
	}
	&-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.service {
	&-box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: wrap column;
		width: 30.33%;
		padding: 10px;
		margin-top: 50px;
		text-align: center;		
		@extend %tap-highlight;
		@include desktop($bp-sm-4) {
			width: 45%;
		}
		@include desktop($bp-sm-2) {
			width: 50%;
		}
		@include desktop($bp-xs-4) {
			width: 100%;
		}
	}
	&-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		border: 3px solid $light;
		border-radius: 50%;
		margin-bottom: 24px;
		transition: .5s;
		& i {
			font-size: 26px;
		}
		&:hover {
			background-color: $light;
			color: $primary-3;
		}
	}
	&-title {
		font-size: 24px;
		font-family: $font-primary;
	}
	&-description {
		position: absolute;
		z-index: 51;
		left: 0;
		top: 100%;
		right: 0;
		background-color: $dark;
		padding: 16px;
		border-radius: 16px;
		visibility: hidden;
		opacity: 0;
		transform: translateY(50px);
		transition: .5s;
		&:before {
			content: '';
			position: absolute;
			width: 30px;
			height: 30px;
			background-color: $dark;
			top: -15px;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
		}
	}
	&-icon:hover ~ &-description {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	} 
	&-background-top {
		@extend %service-background;
		background-image: url(../img/services/service-background-top.svg);
		top: 0;
		transform: translateY(-1px);
	}
	&-background-bottom {
		@extend %service-background;
		background-image: url(../img/services/service-background-bottom.svg);
		bottom: 0;
		left: -5px;
		width: calc(100% + 5px);
		transform: translateY(2px);
	}
}